@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Vazirmatn&display=swap");

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthMd.MuiDialog-paperFullWidth.css-rnmm7m-MuiPaper-root-MuiDialog-paper {
  width: 90%;
  max-width: 100%;
  height: 90%;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  width: 100%;
  font-family: "Vazirmatn";
}

* {
  font-family: "Vazirmatn";
}

.MuiAlert-action.css-ki1hdl-MuiAlert-action {
  padding: 8px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6.MuiAlert-root.MuiAlert-filledSuccess.MuiAlert-filled.css-1dogj1n-MuiPaper-root-MuiAlert-root {
  display: flex;
  align-items: center;
  padding: 8px;
  direction: ltr;
  justify-content: center;
  flex-direction: row;
}
